@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
    margin-top: -38px !important;
    /* margin-bottom: -35px !important; */
    /* z-index: -100; */
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar {
    margin-top: 0;
    margin-bottom: -40px;
    z-index: 100;
}
