@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#titlebar {
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    -moz-appearance: none !important;
}

#TabsToolbar {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    background-color: #24273a;
    -moz-appearance: none !important;
}

#nav-bar,
#navigator-toolbox > #nav-bar {
    margin-top: -38px !important;
    margin-bottom: -34px !important;
    z-index: -100;
    visibility: hidden;
    opacity: 0;
    background-color: #24273a;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar {
    z-index: 100;
    visibility: visible !important;
    opacity: 1;
    height: max-content;
}

#sidebar-box {
    --uc-sidebar-width: 0px;
}
