@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#nav-bar {
    /* this hides the tab bar */
    margin-top: -38px !important;
}

/* hide the top bar entirely when not hovered, leaving a small strip to hover over */
/* commenting out the next few blocks should disable this behavior */
#nav-bar {
	margin-bottom: -35px !important;
    z-index: -100;
}
#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: -40px;
  z-index: 100;
}


/* hides the sidebar header */
#sidebar-header {
	display: none !important;
}

.tabbrowser-tab {
	visibility: collapse;
	height: 0px;
}

#urlbar {
    font-size: 20px !important;
    padding-block-start: 3px !important;
}

/* Make the urlbar smaller -- not really necessary when top bar autohides */
#urlbar-container {
/*     max-width: 1500px !important; */

    margin-left: 200px !important;
    margin-right: 200px !important;
    margin-top: 2px;
}

#main-window,
#toolbar-menubar,
#TabsToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
    box-shadow: none !important;
    }

#PersonalToolbar {
  padding: 6px !important;
}

#statuspanel #statuspanel-label {

  border: none !important;
  border-radius: 15px !important;

}

#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar { border: none !important; }

/* Encryption and Permissions icons */
  /* Only hides permission items */
  /* #identity-permission-box { display: none !important; } */
  /* Hides encryption AND permission items */
  #identity-box { display: none !important }

/* Hide everything BUT the zoom indicator within the URL Bar */
#page-action-buttons > :not(#urlbar-zoom-button) { display: none !important; }

/* Hide the »Go«-arrow in the URL Bar */
#urlbar-go-button { display: none !important; }

/* #back-button, */
/* #forward-button { display: none !important; } */

/* remove window control buttons */
.titlebar-buttonbox-container { display: none !important; }

/* Hide the hamburger menu: */
/* #PanelUI-menu-button { padding: 0px !important; } */
/* #PanelUI-menu-button .toolbarbutton-icon { width: 1px !important; } */
/* #PanelUI-menu-button .toolbarbutton-badge-stack { padding: 0px !important; } */


/* Credits to https://github.com/MrOtherGuy for hthe following snippet*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show sidebar only when the cursor is over it */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */


#sidebar-box{
    --uc-sidebar-width: 44px; /* Only thing I (gale) changed -- Changed again by me (Alan) */
    --uc-sidebar-hover-width: 400px;
    --uc-autohide-sidebar-delay: 1500ms; /* Wait 1.5s before hiding sidebar */
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index:1;
}

#sidebar-box[positionend] {
	direction: rtl;
}
#sidebar-box[positionend] > * {
	direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
	direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
	direction: rtl;
}

#main-window[sizemode="fullscreen"] #sidebar-box {
	--uc-sidebar-width: 1px;
}

#sidebar-splitter {
	display: none;
}

#sidebar-header {
	overflow: hidden;
	color: var(--chrome-color, inherit) !important;
}

#sidebar {
	transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
	min-width: var(--uc-sidebar-width) !important;
	will-change: min-width;
}

#sidebar-box:hover > #sidebar {
	min-width: var(--uc-sidebar-hover-width) !important;
	transition-delay: 0ms !important;
}

.sidebar-panel {
	background-color: transparent !important;
	color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
	-moz-appearance: none !important;
	background-color: #24273a !important;
	color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header {
	background-color: inherit !important;
	border-inline: 1px solid #313244;
	border-inline-width: 0px 2px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > * {
	border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
	inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
	margin-inline: 0px !important;
	border-left-style: solid !important;
}
